<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DiaryTemplates</key>
	<dict>
		<key>TemplateURI</key>
		<string>DiaryTemplates</string>
		<key>TemplateNames</key>
		<array>
			<string>0.jpg</string>
			<string>1.jpg</string>
			<string>2.jpg</string>
			<string>3.jpg</string>
		</array>
		<key>TemplateThumbnails</key>
		<array>
			<string>0_thumb.jpg</string>
			<string>1_thumb.jpg</string>
			<string>2_thumb.jpg</string>
			<string>3_thumb.jpg</string>
		</array>
		<key>TemplateDetails</key>
		<array>
			<array>
				<dict>
					<key>tvFrame</key>
					<string>{{20, 12},{400, 40}}</string>
					<key>tvType</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>tvFrame</key>
					<string>{{490,70},{365,415}}</string>
					<key>tvType</key>
					<real>0</real>
				</dict>
				<dict>
					<key>tvFrame</key>
					<string>{{485,510},{515,80}}</string>
					<key>tvType</key>
					<real>0</real>
				</dict>
			</array>
			<array>
				<dict>
					<key>tvFrame</key>
					<string>{{200,15},{480,50}}</string>
					<key>tvType</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>tvFrame</key>
					<string>{{200,70},{425,615}}</string>
					<key>tvType</key>
					<integer>0</integer>
				</dict>
			</array>
			<array>
				<dict>
					<key>tvFrame</key>
					<string>{{48,402},{194,45}}</string>
					<key>tvType</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>tvFrame</key>
					<string>{{600,155},{260,250}}</string>
					<key>tvType</key>
					<integer>0</integer>
				</dict>
			</array>
			<array>
				<dict>
					<key>tvFrame</key>
					<string>{{500,100},{430, 500}}</string>
					<key>tvType</key>
					<real>0</real>
				</dict>
			</array>
		</array>
	</dict>
	<key>OLGalleryBooks</key>
	<array>
		<dict>
			<key>GalleryDesc_ENG</key>
			<string>Gallery 1</string>
			<key>GalleryDesc_CHN</key>
			<string>作品集 1</string>
			<key>GalleryImageNames</key>
			<array>
				<string>00.jpg</string>
				<string>01.jpeg</string>
				<string>02.jpg</string>
				<string>03.jpg</string>
			</array>
			<key>GalleryURL</key>
			<string>Gallery0</string>
		</dict>
		<dict>
			<key>GalleryDesc_ENG</key>
			<string>Gallery 2</string>
			<key>GalleryDesc_CHN</key>
			<string>作品集 2</string>
			<key>GalleryImageNames</key>
			<array>
				<string>10.jpg</string>
				<string>11.jpg</string>
				<string>12.jpg</string>
				<string>13.jpg</string>
				<string>14.jpeg</string>
			</array>
			<key>GalleryURL</key>
			<string>Gallery1</string>
		</dict>
		<dict>
			<key>GalleryDesc_ENG</key>
			<string>Gallery 3</string>
			<key>GalleryDesc_CHN</key>
			<string>作品集 3</string>
			<key>GalleryImageNames</key>
			<array>
				<string>20.jpg</string>
				<string>21.jpg</string>
				<string>22.jpg</string>
				<string>23.jpeg</string>
			</array>
			<key>GalleryURL</key>
			<string>Gallery2</string>
		</dict>
	</array>
	<key>OLGalleryURL</key>
	<string>file://NancyShow/</string>
</dict>
</plist>
